@media (max-width: 414px){
    .send-money-wrapper{
        width: 100%;
        display: block;
        margin-top: 40px;
        text-align: center;
    }
    .title-send-money h1{
        font-size: 28px;
        text-align: center;
    }
    .line-send-money{
        margin: 25px auto;
    }
    .send-money-wrapper p{
        opacity: 0.6;
        font-weight: 400px;
        padding-bottom: 34px;
    }
    .buttons-send-money{
        display: flex;
        justify-content: center;
        column-gap: 10px;
    }
    .buttons-send-money{
        display: flex;
        column-gap: 10px;
        justify-content: center;
    }
    .image-send-money{
        display: none;
    }
    .it-works-wrapper h2{
        margin-top: 40px;
    }
    .img-real-time{
        display: none;
    }
    .title-real-time{
        text-align: center;
    }
    .title-real-time h4{
        font-size: 40px;
    }
    .line-real-time{
        margin-left: 180px;
    }
    .title-real-time p{
        font-size: 15px;
    }
    .wrap-giving h5{
        text-align: center;
        font-size: 45px;
    }
    .logo{
        display: none;
    }
    .we-are-card{
        display: block;
    }
    .card-top{
        margin-left: 15px;
    }
    .bank-transfer{
        margin-bottom: 40px;
    }
    .Mobile-Recharge{
        margin-bottom: 40px;
    }
    .Mobile-Recharge img{
        margin-right: 10px;
        margin-left: 5px;
    }
    .Fast-Transer{
        margin-bottom: 40px;
        margin-left: 10px;
    }
    .Fast-Transer img{
        margin-right: 10px;
    }
    .Easy-and-Fast{
        margin-left: 10px;
    }
    .Easy-and-Fast img{
        margin-right: 10px;
    }
    .we-are-card p{
        font-size: 15px;
    }
    .we-are-card h6{
        font-size: 20px;
    }
    .we-are-card img{
        width: 40px;
        height: 40px;
    }
    .comments-wrapper{
        display: block;
    }
    .commets-title h3{
        margin-top: 20px;
        font-size: 30px;
        text-align: center;
    }
    .line-comments{
        margin-left: 180px;
    }
    .card{
        margin-top: 20px;
    }
    .footer{
        display: block;
    }
    .footer-logo p{
        text-align: center;
        font-size: 20px;
    }
    .product{
        margin-top: 20px;
    }
    .about{
        margin-top: 20px;
    }
    .catalog{
        margin-top: 20px;
    }
    .wrapper-contact{
        margin-top: 60px;
        border-radius: 5px;
    }
    .wrapper-contact h4{
        text-align: center;
        margin-bottom: 20px;
    }
    .wrapper-contact h6{
        margin-left: 20px;
    }


}