@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    color: black !important;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

header {
    width: 95%;
    display: flex;
    margin: 0 auto;
    font-weight: 700;
    padding-top: 25px;
    align-items: center;
}
nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

p {
    margin-bottom: 0rem !important;
}

.logo, .links, .buttons {
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
    column-gap: 14px;
}

.links {
    display: flex;
    column-gap: 40px;
}

.buttons {
    display: flex;
    column-gap: 32px;
}

.buttons button {
    padding: 6px 20px;
    background: #FFFFFF;
    font-weight: 700;
    border: 1.5px solid #B7B3B3;
}

.buttons button:last-child {
    background: #6C63FF;
    color: white !important;
}

.logo p {
    color: #6C63FF !important;
}

/* send money wrapper */

.send-money-wrapper {
    width: 95%;
    margin: auto;
    display: flex;
    margin-top: 81px;
    justify-content: space-between;
}

.title-send-money h1 {
    font-size: 44px;
    font-weight: 600;
}

.line-send-money {
    width: 52px;
    margin: 28px 0;
    border: 2px solid #B7B3B3;
}

.send-money-wrapper p {
    opacity: 0.6;
    font-weight: 400;
    padding-bottom: 54px;
}

.buttons-send-money {
    display: flex;
    column-gap: 20px;
}

.buttons-send-money button {
    background: #FFFFFF;
    padding: 15px 18px;
    border: 1.5px solid #B7B3B3;
}

.buttons-send-money button:first-child {
    background: #6C63FF;
    color: white !important;
    padding: 15px 35px;
}
.it-works-wrapper {
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    font-weight: 600;
    text-align: center;
}

.it-works-wrapper h2 {
    font-size: 44px;
}
.line-it-works{
    width: 50px;
    margin: 21px 0;
    border: 3px solid #B7B3B3;
}
.owl-carousel{
    text-align: center;
    margin-top: 80px;
}
.item img{
    margin: 0 auto;
    width: 200px !important;
}
.it-works-wrapper p{
    font-size: 25px;
    opacity: ;
}
.item h3{
    font-size: 25px;
    padding: ;
}
.item p{
    font-size: ;
}
.item img{
    margin: 0 auto;
    width: 200px !important;
}
.real-time-wrapper{
    width: 95%;
    margin: 0 auto;
    margin-top: 81px;
    display: flex;
}
.real-time-wrapper h4{
    font-size: 44px;
    font-weight: 600;
}
.line-real-time{
    width: 52px;
    margin: 28px 0;
    border: 2px solid #B7B3B3;
}
.title-real-time p{
    margin-top: 48px;
    font-weight: 600;
    padding-bottom: 54px;
}
.title-real-time a{
    color: #6C63FF;
}
.real-time-wrapper{
    display: flex;
}
.we-are-giving-sec h5{
    font-size: 50px;
}
.wrapper-real-time h6{
    font-size: 25px;
}
.wrapper-real-time p{
    font-size: 20px;
}
.wrapper-real-time{
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 115px;
    margin-bottom: 115px;
    font-weight: 600;
    text-align: center;
}
.wrap-giving{
    display: flex;
}
.we-are-card{
    display: flex;
    margin-bottom: 83px;
}
.bank-transfer{
    display: flex;
}
.Mobile-Recharge{
    display: flex;
}
.Fast-Transer{
    display: flex;
    margin-bottom: 83px;
}
.Easy-and-Fast{
    display: flex;
}
.card-top{
    margin-left: 70px;
}
.bank-top{
    margin-left: 40px;
}
.user-sec{
    margin-top: 300px;
    background: url("./img/Rectangle 7.png");
}
.comments-wrapper{
    width: 90%;
    display: flex;
    margin: 32px auto 0;
    justify-content: space-between;
}
.commets-title h3{
    font-size: 33px;
    color: #FFFFFF !important;
}
.line-comments{
    width: 58px;
    margin: 17px 0 26px;
    border: 2px solid #FFFFFF;
}
.comments-cards{
    display: flex;
    /*background: #FFFFFF;*/
}
.comments-cards img{
    width: 50px;
    height: 50px;
}
.coomments-next p{
    color: #FFFFFF !important;
}
.commets-title{
    margin-top: 65px;
}
.card{
    border-radius: 30px;
    padding: 30px;
    margin-top: 65px;
    margin-bottom: 65px;
    background: white;
    margin-left: 5px;

}
.card p{
    font-weight: 500;
    font-size: 20px;
    padding-bottom: 25px;
}
.comments-user{
    display: flex;
}
.card-img{
    display: flex;
}
.comments-user img{
    width: 60px;
}
.comments-user-title h3{
    font-size: 20px;
}
.comments-user-title p{
    font-size: 16px;
    color: #787777 !important;
}
/*footer*/

.footer{
    width: 95%;
    display: flex;
    padding: 77px 0 107px;
    margin: 0 auto;
    justify-content: space-between;
}
.footer-links{
    display: flex;
}
.logo-footer-title{
    display: flex;
    align-items: center;
    column-gap: 15px;
}
.logo-footer-title p{
    font-size: 25px;
    color: #6C63FF !important;
    font-weight: 600;
}
.footer-logo-lorem{
    color: #B7B3B3 !important;
    font-size: 18px;
    margin-top: 45px;
}
.footer-links{
    display: flex;
    column-gap: 80px;
}
.footer-links div li a{
    margin-top: 40px;
    font-weight: 600;
}
.wrapper-contact{
    padding: 25px;
    background: #6C63FF;
    border-radius: 25px;
}
.wrapper-contact h4, h6{
    font-size: 25px;
    color: white !important;
}
.wrapper-contact div{
    display: flex;
    margin-top: 10px;
    align-items: center;
}
.wrapper-contact div img{
    width: 50px;
}
.wrapper-contact div h6{
    font-size: 22px;
    font-weight: 400;
}
.wrapper-contact img{
    margin-left: 10px;
}